* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: hsl(0, 0%, 90%);
    /* background-color: rgb(250, 248, 248) */
}

.wrapper {
    margin: 30px;
}

.header {
    margin-bottom: 32px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#b1 {
    margin-top: 5px;
    height: 4px;
    width: 23px;
    border: 2px solid red;
}
#b2 {
    margin-top: 5px;
    height: 4px;
    width: 35px;
    border: 2px solid red;
}
#b3 {
    margin-top: 5px;
    height: 4px;
    width: 30px;
    border: 2px solid red;
}

.header > img {
    width: 35px;
}

.image {
    margin-right: -60px;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
}

.image1, .image2, .image3, .image4 {
    margin-top: 32px;
    background: white;
    width: 180px;
    height: 220px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction:column-reverse ;
    align-items: center;
    box-shadow: 2px 2px 20px 12px rgb(0, 0, 0, 0.1);
   
}

.image1 > img, .image2 > img, .image3 > img, .image4 > img {
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: 40px;
}

.image1 > #name1, .image2 > #name2, .image3 > #name3, .image4 > #name4 {
    position: absolute;
    top: 180px;
    font-weight: bold;
    font-family:Verdana, sans-serif;
    font-size: small;
}

@media screen and (max-width:600px){
    .image {
        display: grid;
        grid-template-areas: 
        'image1 image2'
        'image3 image4';
        grid-template-columns: 50% 50%;
    }
}


#para1 {
    margin-top: 32px;
    font-family:Verdana, sans-serif;
    /* font-size: small; */
    color: #757575;
    line-height: 1.5;
}

.bottom {
    width: 100px;
    margin-top: 16px;
    border: 2px solid red;
}